.row{
	 display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important; 
    margin-left: 0px !important; 
}
body,html{
	margin:0;
	padding:0;
	max-width:100% !important;
	height:100% !important;
	scroll-behavior: smooth;
	font-family: 'Lato';
}

a{
	text-decoration:none !important;
	cursor:pointer;
}

/** navbar **/
nav.navbar {
    background: white;
    padding: 18px 0px;
}

nav .navbar-brand img{
	width: 200px;
}
div#homepage-slider {
    margin-top: 80px;
}
.nav-link.active,.nav-link:hover,.nav-link:focus{
	color:#EC2028 !important;
}

.nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

.search img{
	width: 21px;
}
.inquiry-btn,.inquiry-btn:hover{
	background: #EC2028;
    color: white;
    font-size: 14px;
    font-weight: 600;
	    margin-left: 12px;
}
.inquiry-btn img{
	width: 13px;
}
.nav-link::before {
	margin-right: 5px;
	content: '';
}
/*.nav-item:hover::before{
    display: inline-flex;
    content: '';
    width: 8px;
    height: 8px;
    background: #EC2028;
    border-radius: 75px;
    z-index: -1;
    margin-right: 5px;
}*/

.dropdown-item span i{
	border-radius: 75px;
    margin-right: 5px;
    color: #EC2028;
    font-size: 9px;
}
.dropdown-item{
	font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

button.navbar-toggler,.navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid #EC2028;
}
 
@media (max-width:575px){
	nav .navbar-brand img {
    width: 151px !important;
}
}

.paginator-center{
	/*position: absolute; */
    left: 50%;
    /* margin-top: -67px; */
    margin-top: -50px;
    position: sticky;
}

.slick-slide {
     height: auto !important;
 }
 .paginator-center .prev,.paginator-center .next {
	     width: 35px;
 }
.main-section{
	    margin-top: 60px;
} 
 
.main-title{
	color: #EC2028;
    font-size: 34px;
    font-weight: 600;
     padding: 0px 0px 48px 0px;
	 margin-bottom: 0px;
 }
 
.services-list img{
	width:100%;
}
.service-text {
    position: absolute;
    bottom: 0%;
    color: white;
    width: 50%;
    background: rgb(236 32 40 / 80%);
	padding: 20px;
}
.service-text.black{
	background: rgb(67 66 67 / 80%);
}

.service-text h3{
	 font-weight: 400;
    font-size: 21px;
}
.service-text p{
	    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.3px;
	margin-bottom:0px;
}
.service-text p a{
	color: #434243;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline !important;
}
.service-text.black p a{
	color: #EC2028;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline !important;
}
.service-col{
	position: relative;
	margin-bottom:24px;
}

@media (max-width:992px){
	.service-text {
    width: 75% !important;
    
}
.about-data .service-text {
    width: 50% !important;
}
}
@media (max-width:425px){

.about-data .service-text {
    width: 75% !important;
	padding: 16px !important;
}
img.f-logo {
    width: 148px !important;
}
}

    

.form-div {
    box-shadow: 1px 1px 12px rgb(0 0 0 / 15%);
    border-radius: 8px;
    background: #FFFFFF;
    border: 0.5px solid #C7C7C7;
	padding: 34px;
}

.form-control {
    background: rgb(244 244 244 / 50%);
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

element.style {
}
button.btn {
     font-size: 18px;
    letter-spacing: 0.4;
    border-radius: 4px;
    padding: 7px 30px;
    margin-top: 20px;
}
button.btn.black-btn {
	background: #212121;
	color: white;
 }
 button.btn.white-btn{
	 background: white;
	color: #EC2028;
 }
 
.subscribe-section img.icon{
	    width: 50px;
}

.subscribe-section h2{
	    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #252B42;
    font-weight: 600;
    margin-top: 10px;
}
.subscribe-section p{
	font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

button.btn.Subscribe-btn {
    padding: 10px 13px;
    background: #EC2028;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 12px;
    margin-top: 0px;
}

.about-data img{
	width:100%;
}

.about-data .service-text {
        position: absolute;
    right: 6%;
    color: white;
    width: 35%;
    background: #EC2028;
    padding: 20px;
    bottom: -7%;
}

.about-data .service-text h3 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.about-data h4{
	color: #EC2028;
    font-weight: 500;
    font-size: 21px;
}
.about-data h1{
	font-size: 39px;
    text-transform: uppercase;
    font-weight: 600;
}
.about-data p{
	    font-size: 16px;
    letter-spacing: 0.3px;
}
section.my-footer {
    padding: 30px 0px 20px 0px;
	background-image:linear-gradient(0deg, rgba(0 0 0 / 65%), rgba(0 0 0 / 80%)),url(../assets/footerimg.png);  
	background-position: center;
}
img.f-logo {
    width: 185px;
}
img.f-icon {
    width: 25px;
    margin: 0px 5px;
}

.f-col{
	text-align:right;
}
.my-footer ul{
	margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 0.1rem;
}
.my-footer li{
	    color: white;
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 400;
    display: flex;
    align-items: start;
}
.my-footer li a{
	    color: white;
    
}

.my-footer ul li::before {
content: attr(data-icon);
    font-size: 19px;
    margin-right: 10px;
    margin-top: -4px;
}
.contact-info p img {
        width: 12px;
    margin-top: 4px;
    margin-right: 10px;
    
}
.contact-info p{
	    color: white;
    font-size: 13px;
    letter-spacing: 0.3px;
    font-weight: 400;
    display: flex;
    align-items: start;
}
.my-footer h5 {
    color: #EC2028;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
	 margin-bottom: 13px;
}

/*.subscribe-section {
    background-image: url('../assets/Ellipse 4.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}*/
.subscribe-section {
background-repeat:no-repeat;
    background-position:1000px 1000px;
	background-image: url('../assets/Ellipse 4.png');
	}
.subscribe-section::before {
   content: '';
    width: 16px;
    height: 16px;
    padding-left: 16px;
    background-image: inherit;
    background-position:0px 0px;
}
.slick-slide img {
   width: 100%;
}
.quote-block {
       position: absolute;
    color: white;
    width: 50%;
    padding: 20px;
     margin-top: 20px;
}

.quote-block .black {
    background: rgba(33, 33, 33, 0.8);
	    padding: 30px 20px;
}
.quote.paginator-center {
    position: sticky;
    left: 0;
    z-index: 999;
	margin-top: 0px;
}

.quote-block .black h2{
	    font-weight: 600;
    line-height: 123%;
}
.quote-block .black p{
	    font-weight: 400;
    font-size: 15px;
    line-height: 166.5%;
}
.quote-block .black h2 span{
	color: #EC2028;
}

.contact-block {
    display: flex;
}

.contact-block img{
	    height: 22px;
    margin-top: 11px;
}

.contact-block div{
	margin-left: 12px;
}
.contact-block div h2{
	    font-weight: 700;
    font-size: 20px;
    line-height: 144%;
    text-transform: uppercase;
    color: #EC2028;
    margin-bottom: 3px;
}

.contact-block div p{
	font-weight: 500;
    font-size: 13px;
    line-height: 144%;
    color: #000000;
}

.card-body {
  display: flex;
  background: #EC2028;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 30px 0px;
    margin-top: -154px;
    z-index: 999;
    position: relative;
}

.col {
  padding: 10px;
}

.border-line {
  border-right: 1px solid #fff;
}

.card-body img{
	    width: 100px;
}
.card-body h4{
text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 144%;
    color: #FFFFFF;
	padding: 0px;
}

@media only screen and (max-width : 991.5px) {
.card-body {
  margin-top: 5px;
    
}
.quote-block {
    width: 100% !important;
    
}
}
@media (max-width : 991.5px) and (min-width:768px) {
.quote-block .black {
    padding: 10px 20px !important;
}
}

@media (max-width : 767.5px) and (min-width:575px) {
.quote-block .black {
    padding: 10px 20px !important;
}
.quote-block .black h2 {
    font-size: 20px;
}
button.btn.white-btn {
     margin-top: 0px;
}
.quote-block {
    margin-top: 2px;
}
}

@media (max-width : 574.5px){
.quote-block .black {
    padding: 10px 10px !important;
}
.quote-block .black h2 {
    font-size: 20px;
}
button.btn.white-btn {
     margin-top: 0px;
}
.quote-block {
    margin-top: 2px;
}

.slick-slide.home-banner img {
    height: 300px;
    object-fit: cover;
}
}


.home-www{
	background-image:url('../assets/Photo Apr 27, 15 00 38 (1) 1.png');
	color: white;
    padding: 20px 15px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-www h3{
	font-weight: 700;
    font-size: 35px;
    line-height: 144%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.home-www h5{
	font-weight: 700;
    font-size: 15px;
    line-height: 144%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home-www p{
	font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    text-align: justify;
    text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
.home-www h4{
	    font-weight: 400;
    font-size: 17px;
    
    color: #FFFFFF;
	    display: flex;
}

.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
  font-size: 25px;
}

.dropping-texts > div {
  font-size:30px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:700;   
  
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
  color:white;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
  color:#EC2028;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
  color:white;
}
.dropping-texts > div:nth-child(4) {
  animation: roll 5s linear infinite 3s;
  color:#EC2028;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

.lm-bg{
	background-image:url('../assets/img2.png');
	color: white;
    padding: 20px 15px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
	text-align:center;
}

.lm-bg h6{
	    font-weight: 600;
    font-size: 22px;
    line-height: 139%;
    color: #EC2028;
}
.lm-bg p{
	font-weight: 400;
    font-size: 15px;
    line-height: 139%;
    color: #FFFFFF;
}

.lm-bg h2{
	    font-weight: 700;
}

.custom-col{
    width: 20%;
    word-break:break-all;
	 
}

.card-block{
	box-shadow: 0px 1px 12px rgb(0 0 0 / 10%);
    padding: 10px;
}

.card-block h5{
	    font-weight: 700;
    font-size: 17px;
    line-height: 144%;
    color: #EC2028;
}


.card-block p{
	font-weight: 400;
    font-size: 13px;
    line-height: 139%;
    color: #212121;
}

.custom-col .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0px;
	margin-bottom: 20px;
}
img.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-div {
    margin-top: -68px;
}

@media (max-width:991.5px){
	.custom-col{
		width: 33%;
	 }
}

@media (max-width:575.5px){
	.custom-col{
		width: 50%;
	 }
}

.testimonial-block p{
	    font-size: 19px;
    font-weight: 600;
}
.testimonial-block img{
	width: 170px;
}

.ae-bg .main-title{
	text-transform: uppercase;
}
.ae-bg {
    position: absolute;
    z-index: 999;
    left: 8%;
    right: 8%;
}
.custom-size{
	width:50%;
}
.custom-size1{
	width:70%;
}
.custom-size2{
	width:30%;
}

.custom-size .r-more{
    text-align: right;
}
.arrow-align{
    text-align: right;
}

.small-block h5{
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-transform: lowercase;
    color: #FFFFFF;
}
.small-block .r-more{
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.small-block .r-more img{
    width: 21px;
}
.small-block .arrow-align{
    align-self: end;
}
.small-block .arrow-align .prev1{
    width: 30px;
    margin-right: 10px;
}
.small-block .arrow-align .next1{
    width: 30px;
    
}

.custom-col.brand-size {
    width: 11%;
     margin: 0px 0px 20px 0px;
     padding: 0px 5px;
}
.custom-col.brand-size div{
     background: white;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    border-radius: 4px;
    text-align: center;
}
.custom-col.brand-size div img{
  width: 100px;
}
.brand-block {
    margin-top: -20px;
    z-index: 9999;
    position: relative;
}

@media (max-width:1199.5px) {
    .custom-col.brand-size {
        width: 20%;
        
    }
    .slick-carousel1 div img{
        height: 300px;
        object-fit: cover;
    background-position: top;
    }
    .ae-bg {
         left: 13% !important;
        right: 13% !important;
    }
}

@media (max-width:991.5px) {
.custom-size1 h1{
    font-size: 28px;
}
}

@media (max-width:767.5px){
    .custom-size1 h1{
        font-size: 25px;
    }
    .custom-col.brand-size {
        width: 25%;
        
    }
}
@media (max-width:574.5px){
    .custom-size1 h1{
        font-size: 15px;
    }
    .custom-col.brand-size {
        width: 50%;
        
    }
    .small-block h5 {
       font-size: 15px;
    }
    .small-block .r-more {
        font-size: 11px;
         margin-top: 4px;
    }
    .custom-size1{
        width:100%;
    }
    .custom-size2{
        width:100%;
    }
}